/* Estilização Geral */
body {
    font-family: "Poppins", sans-serif;
    background: #ada2d3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #c766cc;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Container da Lista */
.container {
    background:#cfbcd9;
    padding: 60px;
    width: 350px;
    border-radius:15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Input de Tarefa */
.task-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    outline: none;
}

/* Botão de Adicionar */
.add-task-button {
    background: #788bc5;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.add-task-button:hover {
    background: #2b6ac8;
}

/* Lista de Tarefas */
.tasks {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

/* Tarefa Individual */
.tasks li {
    background: #ead2e6;
    padding: 10px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

/* Efeito ao passar o mouse */
.tasks li:hover {
    background: #f1f1f1;
}

/* Botões */
button {
    cursor: pointer;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
}

/* Botão Concluir */
.complete {
    background: #788bc5;
    margin-right: 10px;
}

.complete:hover {
    background: #2b6ac8;
}

/* Botão Apagar */
.delete {
    background: #788bc5;
    margin-left: auto;
    margin-right: 5px;
}

.delete:hover {
    background: #2b6ac8;
}

/* Tarefa Concluída */
.completed {
    text-decoration: line-through;
    background: #d3ffd3 !important;
}

.edit {
    background: #788bc5;
}

.edit:hover {
    background: #2b6ac8;
}

.save {
    background: #788bc5;
}

.save:hover {
    background: #2b6ac8;
}
