body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('abstract.jpg') no-repeat center center/cover;
    margin: 0;
}

h1 {
    color: #955098;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    background:#ba94cf;
    padding: 60px;
    width: 350px;
    border-radius:15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.task-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    outline: none;
}

.add-task-button {
    background: #824386;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.add-task-button:hover {
    background: #b562bb;
}

.tasks {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.tasks li {
    background: #ead2e6;
    padding: 10px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.tasks li:hover {
    background: #f1f1f1;
}

button {
    cursor: pointer;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
}

.complete {
    background: #824386;
    margin-right: 10px;
}

.complete:hover {
    background: #b562bb;
}

.delete {
    background: #824386;
    margin-left: auto;
    margin-right: 5px;
}

.delete:hover {
    background: #b562bb;
}

.completed {
    text-decoration: line-through;
    background: #d3ffd3 !important;
}

.edit {
    background: #824386;
}

.edit:hover {
    background: #b562bb;
}

.save {
    background: #824386
}

.save:hover {
    background: #b562bb;
}
