@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&family=Open+Sans:ital,wght@0,700;1,400&display=swap');

:root {
    --primary-color: rgb(35, 103, 130);
    --primary-color-darker: rgb(19, 62, 79);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5em;
    line-height: 1.5em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: red;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.task-input {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px; 
    border-radius: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.6;
}

li {
    font-size: 14px;
    margin-bottom: 7px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 10px;
    height: 30px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background: var(--primary-color-darker);
}